// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
  position: relative;
  i { position: absolute; top: 0.5rem; right: 1.5rem; opacity: 0.6; }
}
